<a href="#" class="sidebar-brand">
    <img src="assets/images/svg/logo-avatar.svg" alt="Sidebar Logo">
    HB-PMS
</a>

<ul class="nav flex-column">
    <li class="nav-item">
        <a href="index.html" class="nav-link">
            <i class="bx bxs-dashboard"></i> Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class='bx bx-chevron-down'></i> Divisions
        </a>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="divisions.html" class="nav-link"><i>R</i>Ronzac</a>
            </li>
            <li class="nav-item">
                <a href="add-division.html" class="nav-link"><i>P</i>Private Label</a>
            </li>
            <li class="nav-item">
                <a href="edit-division.html" class="nav-link"><i>D</i>DMSCO</a> 
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="bx bx-group"></i>
            Product Specialists
        </a>   
    </li>

    <li class="nav-item sidebar-title">Tools</li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class='bx bx-message-rounded-dots'></i>
            Chat
            <span class="notify-msg-count">3</span>
        </a>   
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class='bx bx-support'></i>
            Support
        </a>   
    </li>

    <li class="nav-item dark-mode">
        <a href="#" class="nav-link">
            <i class='bx bx-moon'></i> Dark Mode
            <div class="form-check form-switch">
                <input class="form-check-input toggle-switch" type="checkbox" title="Enable Dark Mode">
            </div>
        </a>   
    </li>

    <li class="nav-item">
        <div class="auth d-flex">
            <div class="flex-shrink-0 me-2">
                <img src="https://placehold.co" alt="Image Placeholder"> 
            </div>
            <div class="flex-grow-1">
                <h6>Mohammed Gomma</h6>
                <span>Product Sp.</span>
            </div>
        </div>  
    </li>


</ul>