<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" >

<!-- Css Files & Libraries -->
@@if (base == "root") {
    <link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/libs/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
}

@@if (base == "pages") {
    <link rel="stylesheet" href="../assets/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/libs/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
}